:root {
  --primary-color: #f5f4fe;
  --secondary-color: #0081c8;
  --text-success: #05b171;
  --text-info: #25c2e3;
  --text-warning: #faae42;
  --text-muted: #6c757d;
}
body {
  background-color: var(--primary-color);
}
.text-success {
  color: var(--text-success);
}
.text-info {
  color: var(--text-info);
}
.text-warning {
  color: var(--text-warning);
}
.text-muted {
  color: var(--text-muted);
}
.mr-10 {
  margin-right: 10px !important;
}
.mr-20 {
  margin-right: 20px !important;
}